@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mobile-screen-max: 480px;
  --desctop-screen-min: 950px;
  --tablet-screen-min: 481px;
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 8px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: transparent;
  }
  /* ползунок скроллбара */
  ::-webkit-scrollbar-thumb {
    /*background: transparent linear-gradient(*/
    /*        214deg, #363940 0%, #0B0B0D 100%) 0% 0% no-repeat padding-box;*/
    /*border-radius: 9em;*/
    background: rgba(73, 84, 102, 0.51);
    border-radius: 4px;
    opacity: 0.5;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #363940;
  }
}

@layer components {
  .title {
    @apply text-h1 font-semibold
        text-gray-c-800 mobile:text-h1-m;
  }
  .subTitle {
    @apply text-h2 font-semibold mobile:text-h2-m;
  }
  .label {
    @apply text-h3 mobile:text-h4;
  }
  .text-area {
    @apply min-h-[68px] w-full resize-none rounded-lg border border-gray-c-300 px-4 py-2 text-h3;
  }

  .text-body-1 {
    @apply text-h3 text-gray-c-800;
  }
  .text-body-2 {
    @apply text-h2 text-gray-c-800;
  }
  .tooltip {
    @apply absolute top-[-15px] left-2 h-min w-min whitespace-nowrap rounded-xl bg-white px-2
        py-1 text-h3 font-normal text-gray-c-600 opacity-0 shadow-cs4 transition-opacity duration-300
        group-hover:opacity-100 group-active:opacity-100;
  }
  .input-1 {
    @apply w-full rounded-lg
        border px-4 py-2 text-h3
        font-normal hover:border-blue-c-400
        focus:border-blue-c-500 disabled:bg-gray-c-100
        disabled:text-gray-c-500 disabled:hover:border-gray-c-300;
  }
}

/*Дизайн скрола для Firefox*/
.overflow-y-auto-custom {
  overflow-y: auto;
  scrollbar-color: rgba(73, 84, 102, 0.51) transparent;
  scrollbar-width: thin;
}

.modal-anim-enter-active,
.modal-anim-leave-active {
  transition: opacity 0.2s ease, margin 0.2s ease;
}

.modal-anim-enter-from {
  opacity: 0;
  margin: 10px 0px -10px 0px;
}

.modal-anim-leave-to {
  opacity: 0;
  margin: -10px 0px 10px 0px;
}
